<ul class="nav">
  <li>
    <%= link_to "TODO!", root_path, :class => 'brand' %>
  </li>
</ul>
<% if logged_in? %>
  <div class='btn-group nav_item'>
    <%= link_to '#', class: 'btn btn-small dropdown-toggle', 'data-toggle' => 'dropdown' do %>
      Status <span class="caret"></span>
    <% end %>
    <ul class="dropdown-menu">
      <% Status.all.each do |status| %>
        <li>
          <%= link_to status.status, status_path(status)%>
        </li>
      <% end %>
        <li class='divider'></li>
        <li>
          <%= link_to(new_status_path) do %>
            <i class="icon-plus"></i>
            New Status
          <% end %>
        </li>
    </ul>
  </div>
  <div class='nav_item'>
    <%= link_to 'New Task', new_task_path, class: 'btn btn-success btn-small' %>
  </div>
  <div class='btn-group nav_item'>
    <%= link_to('', class: 'btn btn-small dropdown-toggle', 'data-toggle' => 'dropdown') do %>
      <%= current_user.name %>
      <span class='caret'></span>
    <% end %>
   <ul class='dropdown-menu'>
     <li>
       <%= link_to edit_user_path(current_user) do %>
         <i class='icon-pencil'></i>
         edit profile
       <% end %>
     </li>
     <li>
       <%= link_to user_path(current_user) do %>
       <i class='icon-user'></i>
         view profile
       <% end %>
     </li>
     <li>
       <%= link_to logout_path do %>
       <i class='icon-circle-arrow-left'></i>
         logout
       <% end %>
     </li>
   </ul>
  </div>
<% else %>
  <div class='nav_item'>
    <%= link_to 'Register', register_path, class: 'btn btn-success btn-small' %>
  </div>
<% end %>
